In [22]:
import pandas as pd

In [23]:
temporadas = [
    '11-12',
    '12-13',
    '13-14',
    '14-15',
    '15-16',
    '16-17',
    '17-18',
    '18-19',
    '19-20',
    '20-21',
    '21-22'
]

In [24]:
dfClasificaciones11_22 = pd.DataFrame()

In [25]:
for temporada in temporadas:
    ruta = '/content/clasificaciones' + temporada + '.csv'
    df = pd.read_csv(ruta)
    # Agregar el DataFrame de la temporada actual al DataFrame general
    dfClasificaciones11_22 = pd.concat([dfClasificaciones11_22, df], ignore_index=True)

In [26]:
dfClasificaciones11_22

     ranking         team  PTS  PJ  PG  PE  PP   GF  GC  DG Season
0          1  Real Madrid  100  38  32   4   2  121  32  89  11-12
1          2    Barcelona   91  38  28   7   3  114  29  85  11-12
2          3     Valencia   61  38  17  10  11   59  44  15  11-12
3          4       Malaga   58  38  17   7  14   54  53   1  11-12
4          5   Ath Madrid   56  38  15  11  12   53  46   7  11-12
..       ...          ...  ...  ..  ..  ..  ..  ...  ..  ..    ...
215       16     Mallorca   39  38  10   9  19   36  63 -27  21-22
216       17        Cadiz   39  38   8  15  15   35  51 -16  21-22
217       18      Granada   38  38   8  14  16   44  61 -17  21-22
218       19      Levante   35  38   8  11  19   51  76 -25  21-22
219       20       Alaves   31  38   8   7  23   31  65 -34  21-22

[220 rows x 11 columns]

### Guardar CSV con todas las clasificaciones del 2011 al 2022

In [27]:
nombre_csv = 'clasificacionesLaLiga_MERGE_2011-2022.csv'

In [28]:
dfClasificaciones11_22.to_csv(nombre_csv, index=False)